.container {
	--status-open: #49d4f3;
	--status-sold: #50fa7b;
	--status-canceled: #ff1414;
}
.order-success {
	padding: 0;
	padding-bottom: 112px;
	text-align: center;
	margin: auto;
	.success-lottie {
		height: 200px;
	}
	a {
		color: var(--blue);
	}
}
.order-error {
	padding: 0;
	padding-bottom: 112px;
	text-align: center;
	margin: auto;
	a {
		color: var(--red);
	}
	.error-lottie {
		height: 50px;
		margin: 80px 0 56px;
	}
}
.orders {
	.item-container {
		display: grid;
		grid-template-columns: 1fr auto auto 100px 100px;
		gap: 20px;
		align-items: center;
		padding: 16px;
		color: #ccd6f6;
		&:hover {
			background: rgba(255, 255, 255, 0.02);
			border-radius: 8px;
		}
	}
	.item {
		display: flex;
		div {
			&:nth-child(2) {
				display: flex;
				flex-direction: column;
			}
		}
		.title {
			margin-bottom: 4px;
			color: var(--grey2);
		}
		.price {
			margin-bottom: 4px;
			color: var(--grey2);
		}
		.updated_at {
			margin-bottom: 4px;
			color: var(--grey2);
			margin-top: auto;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 300;
		}
	}
	img {
		margin-right: 16px;
		width: 70px;
		height: 70px;
		object-fit: contain;
		border: 1px solid #000 44;
		border-radius: 8px;
		box-shadow: 2px 2px 4px -4px #000;
	}
	.status {
		justify-self: center;
		padding: 4px 12px;
		width: 100%;
		font-size: 12px;
		letter-spacing: 0.8px;
		text-align: center;
		text-transform: uppercase;
		color: #333;
		border-radius: 16px;
	}
	.status.open {
		background-color: var(--status-open);
	}
	.status.sold {
		background-color: var(--status-sold);
	}
	.status.canceled {
		color: #ccd6f6;
		background-color: var(--status-canceled);
	}
	.total {
		font-weight: 700;
	}
}
.item {
	.price {
		font-weight: 700;
	}
}
.order-detail {
	max-width: 700px;
	color: var(--grey2);
	.info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 300;
		h4 {
			margin-bottom: 8px;
			color: #ccd6f6;
			font-size: 12px;
			letter-spacing: 0.8px;
			text-transform: uppercase;
		}
		.status {
			text-align: right;
			p {
				font-size: 12px;
			}
		}
		.status.open {
			h2 {
				color: var(--status-open);
			}
		}
		.status.sold {
			h2 {
				color: var(--status-sold);
			}
		}
		.status.canceled {
			h2 {
				color: var(--status-canceled);
			}
		}
	}
	.product {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		padding: 16px 0;
		width: 100%;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
	}
	img {
		margin-right: 16px;
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 4px;
	}
	.price {
		flex: 1;
		font-weight: 700;
		text-align: right;
		color: #ccd6f6;
	}
	.quantity {
		font-size: 14px;
		font-weight: 300;
	}
	.total {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 22px;
		font-weight: 700;
		color: #ccd6f6;
		span {
			margin-right: 8px;
			font-size: 14px;
			font-weight: 500;
		}
	}
}
