<!DOCTYPE html>
<html lagm="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/icon.ico" type="image/x-icon">
        {% block head %}
            <title>Launchstore</title>
        {% endblock %}
                 {%include "parts/styles.njk"%}
    
    </head>
    <body>
         {%include "parts/messages.njk"%}
        {%include "parts/header.njk"%}
        {% block content %}{% endblock %}
        {%include "parts/footer.njk"%}
        <script src="/scripts.js"></script>
    </body>
</html>